body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

#background_img {
	position: fixed;
    width: 100%;
    z-index: -1;
    overflow-y: hidden;
    height: 100%;
}

.background_cover {
	position: absolute;
    width: 100%;
    z-index: -1;
    overflow-y: hidden;
    height: 100%;
    opacity: 0.5;
}

#title {
	position: relative;
    text-align: center;
    top: 25%;
    color: white;
    font-size: 222%;
}

#profile_photo {
	position: relative;
	height: 20%;
	width: 20%;
	align-self: center;
}