body {
    background-color: #CFB53B;
    margin: 0;
    padding: 0;
}

#navBar{
    list-style-type: none;
    position: fixed;
    right: 10%;
    top: 10%;
}

.section{
    height: 100vh;
    overflow: hidden;
}

.background_img{
    width: 100%;
}
